<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Drinks</title>
    <h1>More Drinks</h1>
</head>
<body>
    <br>
    <button onClick="window.location.reload(true);" class='btn btn-outline-danger btn-lg'>Refresh Selections</button>
    <button onclick="history.back()" class='btn btn-outline-danger btn-lg'>Go Back to Home Page</button>
    <br>
</body>
</html>